# 数据库配置
MONGODB_URI=mongodb://localhost:27017/video-mixer

# 服务器配置
PORT=3001
NODE_ENV=development

# 阿里云OSS配置
# OSS_ACCESS_KEY_ID=你的AccessKeyId
# OSS_ACCESS_KEY_SECRET=你的AccessKeySecret
OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
OSS_BUCKET_NAME=tian-jiu-video

# OpenAI API配置
FASTGPT_API_URL=https://api.fastgpt.in/api/v1/chat/completions
FASTGPT_API_KEY=你的API密钥

# 配置字体
VIDEO_FONT=msyh.ttc