* {
  box-sizing: border-box;
}

.bRixAgency {
  display: flex;
  align-items: flex-start;
  border-radius: 98px;
  box-shadow: 0px 12px 34px 0px #0410220f, 0px 84px 250px 0px #0721661f;
  background: #f8fbff;
  padding-top: 108px;
  width: 1616px;
  height: 1644px;
  overflow: hidden;

  .wrapper {
    position: relative;
    margin-left: -270px;
    width: 2337px;
    height: 1671px;

    .background {
      display: flex;
      position: absolute;
      top: 511px;
      left: 0;
      align-items: flex-start;
      padding: 124px 724px 15px 547px;
      width: 2333px;
      height: 1152px;
      background-image: url(../image/mef2stg5-w0tb7e6.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .illustration {
        width: 1062px;
        height: 1013px;
        background-image: url(../image/mef2stg5-pfq6h92.png);
        background-position: -1px -273px;
        background-size: 100.03% 126.9%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 24px 74px #175cc224);
      }
    }

    .a40Px {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 547px;
      flex-direction: column;
      align-items: center;
      width: 1059px;
      height: 568px;
      row-gap: 40px;

      .a28Px {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        row-gap: 28px;

        .logo {
          flex-shrink: 0;
          width: 224px;
          height: 64px;
        }

        .a14Px {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          row-gap: 14px;

          .title {
            flex-shrink: 0;
            width: 1025px;
            text-align: center;
            line-height: 86px;
            letter-spacing: 0;
            color: var(--Titles, #19213d);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 70px;
            font-weight: 800;
          }

          .paragraph {
            flex-shrink: 0;
            width: 1059px;
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: var(--Paragraphs, #667394);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
          }
        }
      }

      .primaryBtn {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        margin-right: 377px;
        margin-left: 377px;
        border-radius: 86px;
        box-shadow: 0px 5px 19px 0px #ff2d4666;
        background: var(--Color-Primary---BRIX, #ff2d46);
        padding: 38px 61px;

        .buttonText {
          flex-shrink: 0;
          line-height: 30px;
          letter-spacing: 0;
          color: var(--Neutrals-White, #ffffff);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 26px;
          font-weight: 700;
        }

        .icon {
          flex-shrink: 0;
          width: 16px;
          height: 15px;
        }
      }
    }
  }
}
